Repository teacherfox/teacherfox, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
  - .github/**/*

documentation:
  - '*.md'

infrastructure:
  - apps/infrastructure/**/*

server:
  - apps/server/**/*
  - packages/logger/**/*
  - packages/eslint-config-custom/**/*
  - packages/eslint-config-node/**/*
  - packages/tsconfig/node.json
  - packages/tsconfig/base.json

web:
  - apps/web/**/*
  - packages/logger/**/*
  - packages/ui/**/*
  - packages/tailwind-config/**/*
  - packages/eslint-config-custom/**/*
  - packages/eslint-config-next/**/*
  - packages/tsconfig/next.json
  - packages/tsconfig/base.json

TF-51: Add ghcr secret
  .github/workflows/build-deploy-service.yml
  .github/workflows/ghcr-retention.yml
Labels: automation

TF-51: Revert ghcr job frequency
  .github/workflows/ghcr-retention.yml
Labels: automation

TF-50: Add google login endpoints
  .github/workflows/pr-stale.yml
  apps/server/.eslintrc.cjs
  apps/server/package.json
  apps/server/prisma/migrations/20230724170105_user_social_login/migration.sql
  apps/server/prisma/schema.prisma
  apps/server/src/config/config.ts
  apps/server/src/contexts/user.ts
  apps/server/src/email.ts
  apps/server/src/google.ts
  apps/server/src/index.ts
  apps/server/src/schema/index.ts
  apps/server/src/schema/messageOperations.ts
  apps/server/src/schema/types.ts
  apps/server/src/schema/userOperations.ts
  apps/server/src/types.ts
  infrastructure/modules/service/service_elb.tf
  package.json
  packages/eslint-config-node/index.cjs
  pnpm-lock.yaml
  turbo.json
Labels: automation, server

TF-50: Store googleId as text
  README.md
  apps/server/prisma/migrations/20230725063756_user_google_id_string/migration.sql
  apps/server/prisma/schema.prisma
  apps/server/src/config/config.ts
  apps/server/src/google.ts
Labels: documentation, server

TF-50: Introduce rate limiter
  apps/server/package.json
  apps/server/src/index.ts
  pnpm-lock.yaml
Labels: server

TF-50: Throw away express
  apps/server/.eslintrc.cjs
  apps/server/package.json
  apps/server/src/config/config.ts
  apps/server/src/contexts/user.ts
  apps/server/src/google.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/messageOperations.ts
  apps/server/src/schema/types.ts
  apps/server/src/schema/user/googleLoginOperations.ts
  apps/server/src/schema/user/userOperations.ts
  apps/server/src/schema/user/userTypes.ts
  apps/server/src/types.ts
  infrastructure/modules/cluster/cluster.tf
  infrastructure/modules/service/service_ecs.tf
  infrastructure/modules/service/service_variables.tf
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: server

TF-52: Add user roles
  .idea/codeStyles/Project.xml
  .idea/misc.xml
  apps/server/package.json
  apps/server/prisma/migrations/20230806073026_user_roles/migration.sql
  apps/server/prisma/schema.prisma
  apps/server/src/auth.ts
  apps/server/src/builder.ts
  apps/server/src/context.ts
  apps/server/src/contexts/user.ts
  apps/server/src/google.ts
  apps/server/src/language.ts
  apps/server/src/schema/user/userOperations.ts
  apps/server/src/schema/user/userTypes.ts
  packages/eslint-config-custom/index.cjs
  pnpm-lock.yaml
Labels: server, web

TF-25 remove Readme.md and yarn.lock from APP/WEB & remove comments
  apps/web/README.md
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/_document.tsx
  apps/web/yarn.lock
Labels: web

TF-25: Restore .idea
  .idea/.gitignore
  .idea/codeStyles/codeStyleConfig.xml
  .idea/dataSources.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/teacherfox.iml
  .idea/vcs.xml
Labels: none

TF-25 update package and pnpm-lock after rebase
  apps/web/tailwind.config.js
  package.json
  pnpm-lock.yaml
Labels: web

TF-25: Revert unneeded changes
  .github/dependabot.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  apps/server/src/builder.ts
  package.json
  packages/eslint-config-custom/index.js
  packages/tsconfig/base.json
  packages/tsconfig/nextjs.json
Labels: automation, server, web

TF-37: Move web to ES2020
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/pages/index.tsx
  apps/web/tsconfig.json
  packages/tsconfig/base.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/node.json
  packages/tsconfig/react-library.json
  packages/tsconfig/react.json
  packages/ui/Button.tsx
  packages/ui/Header.tsx
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/turbo/generators/config.ts
  packages/ui/turbo/generators/templates/component.hbs
  pnpm-lock.yaml
Labels: server, web

TF-37: Create amplify app
  infrastructure/environments/prod/main.tf
  infrastructure/environments/prod/variables.tf
  infrastructure/environments/staging/main.tf
  infrastructure/environments/staging/variables.tf
  infrastructure/modules/frontend/main.tf
  infrastructure/modules/frontend/variables.tf
Labels: none

TF-37: Amplify in root folder
  amplify.yml
  customHttp.yml
Labels: none

TF-37: Remove build spec
  infrastructure/modules/frontend/main.tf
Labels: none

Remove VPC Endpoints
  infrastructure/modules/ssm/main.tf
  infrastructure/modules/vpc/main.tf
Labels: none

Remove deletion protection
  infrastructure/modules/database/main.tf
  infrastructure/modules/service/service_elb.tf
Labels: none

Delete all infra
  infrastructure/environments/dev/main.tf
  infrastructure/environments/prod/main.tf
  infrastructure/environments/staging/main.tf
Labels: none

Don't delete iam (for now)
  infrastructure/environments/dev/main.tf
  infrastructure/environments/prod/main.tf
  infrastructure/environments/prod/outputs.tf
  infrastructure/environments/staging/main.tf
  infrastructure/modules/iam-env/github.tf
  infrastructure/modules/iam-env/outputs.tf
  infrastructure/modules/iam-env/variables.tf
  infrastructure/modules/iam/main.tf
  infrastructure/modules/iam/variables.tf
Labels: none

Remove iam
  infrastructure/environments/dev/main.tf
  infrastructure/environments/prod/main.tf
  infrastructure/environments/staging/main.tf
Labels: none

Leave iam in prod for last
  infrastructure/environments/prod/main.tf
Labels: none

TF-53: Remove identity providers
  infrastructure/environments/prod/main.tf
Labels: none

TF-53: Remove failing outputs.tf
  infrastructure/environments/prod/outputs.tf
Labels: none

TF-54: Remove ghcr retention action
  .github/workflows/ghcr-retention.yml
Labels: automation
